body{
    /* background-image: 
    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://dl.fujifilm-x.com/global/products/cameras/x-t30/sample-images/ff_x_t30_003.JPG?_ga=2.51789481.1230738117.1627225442-354961040.1627225442'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/officedesk.jpg);

    
    /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2017/05/19/06/22/desk-2325627_960_720.jpg'); */

    
}
.App{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
}
/* swiper */

/* 
.images{
  height: 100%;
  width: 100%;
  
} */
.swiper-container {
  width: 50%;
  height:100%;
  display: flex;
  /* background-color: red; */
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

